In [3]:
import pandas as pd

# Load the exported raw file (ignore the first few non-genotype columns)
raw_file = './data_/genotype_sequences.raw'
df = pd.read_csv(raw_file, delim_whitespace=True)

# Drop non-genotype columns (FID, IID, etc.)
genotype_df = df.iloc[:, 6:]

# Convert allele pairs to a single consensus base (simplifying for this example)

/var/folders/vp/qj6g4gtj5dg106bf9m3cb5xr0000gn/T/ipykernel_38990/4198109739.py:5: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv(raw_file, delim_whitespace=True)

In [4]:
genotype_df

,rs131538_G,rs7287144_A,rs5747620_T,rs17430900_G,rs9605903_T,rs16980739_C,rs9605927_T,rs5747968_G,rs2236639_A,rs5746664_A,...,rs715586_C,rs8137951_G,rs2301584_G,rs756638_G,rs3810648_A,rs2285395_G,rs13056621_A,rs3888396_T,rs2238837_A,rs28729663_G
0,2,2,1,2,2,2,2,0,2,2,...,1,2,2,2,2,2,1,2,2,2
1,2,1,1,2,1,2,2,1,1,1,...,2,1,1,2,2,2,2,1,2,2
2,2,2,2,2,1,2,2,1,2,2,...,2,1,1,2,2,2,1,2,0,1
3,2,1,2,2,0,2,2,0,2,2,...,1,2,2,1,2,2,2,2,1,2
4,2,2,2,2,1,1,2,1,2,2,...,1,2,2,2,2,2,1,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
710,2,1,1,2,2,2,2,2,2,2,...,2,1,1,2,2,2,1,2,0,1
711,2,2,2,2,1,1,2,1,2,2,...,1,2,2,1,2,2,2,2,1,2
712,2,2,1,2,2,2,2,2,2,2,...,2,1,1,2,2,2,2,2,2,2
713,1,2,2,2,0,2,2,0,2,2,...,2,1,2,2,2,2,2,2,1,1
714,2,0,0,2,1,2,2,1,2,2,...,0,2,2,2,2,2,2,2,1,2

In [9]:
def get_consensus(allele1, allele2):
    if allele1 == allele2:
        return allele1  # Homozygous
    else:
        return allele1  # Assume first allele for heterozygous (or can randomize)

# Convert genotype columns to a sequence string
sequence = ''.join(genotype_df.apply(lambda x: str(get_consensus(x[0], x[1])), axis=1))

# Save sequence in FASTA format
with open('./data_/genotype_sequences.fasta', 'w') as fasta_file:
    fasta_file.write(">sample_1\n")
    fasta_file.write(sequence + "\n")

print("FASTA file generated successfully!")

FASTA file generated successfully!

/var/folders/vp/qj6g4gtj5dg106bf9m3cb5xr0000gn/T/ipykernel_38990/3823579645.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sequence = ''.join(genotype_df.apply(lambda x: str(get_consensus(x[0], x[1])), axis=1))

In [11]:
sequence

'2.02.02.02.02.02.02.02.02.02.02.02.02.01.02.02.02.02.01.02.02.02.02.01.02.01.02.02.02.02.02.02.02.01.02.02.00.02.02.02.02.02.02.01.02.02.02.02.01.02.02.01.02.02.02.02.01.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.01.02.02.02.02.02.02.02.02.02.02.02.02.02.01.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.01.02.02.01.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.01.02.02.02.02.02.02.02.02.02.02.02.01.02.02.01.02.02.02.01.02.02.01.02.02.02.02.02.02.02.02.01.02.01.02.02.02.02.02.01.02.02.02.02.02.02.02.02.02.02.02.02.02.01.02.02.02.02.02.02.02.02.02.02.02.02.01.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.01.02.02.02.02.02.02.02.02.02.02.01.02.02.02.01.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.01.02.02.02.02.02.02.02.02.02.02.02.02.02.01.02.02.02.01.02.02.02.02.02.02.02.01.02.02.02.02.02.02.01.02.02.02.02.02.02.02.01.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.01.02.02.02.02.02.02.02.02.02.02.02.02.00.02.02.02.02.02.02.02.02.02.02.01.01.02.02.01.02.02.01.02.02.02.02.02.02.01.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.01.02.02.02.02.02.01.02.02.02.02.02.01.02.01.01.02.02.02.01.01.02.02.02.02.02.01.02.02.02.02.02.02.01.01.02.02.02.02.02.02.02.02.02.02.02.02.01.02.02.02.02.02.02.02.02.01.02.02.02.02.02.01.02.02.02.02.02.02.02.02.02.02.02.02.01.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.01.02.01.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.01.02.02.02.02.01.02.02.02.01.02.02.02.01.02.02.01.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.01.02.01.02.02.02.02.02.02.02.02.02.02.02.02.01.02.02.02.02.02.02.01.02.02.02.02.02.02.02.01.02.01.02.01.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.02.01.02.02.02.02.02.02.02.02.01.02.02.02.02.02.02.02.01.02.02.02.02.02.02.01.02.0'

In [2]:
genotype_df.head()

,rs131538_G,rs7287144_A,rs5747620_T,rs17430900_G,rs9605903_T,rs16980739_C,rs9605927_T,rs5747968_G,rs2236639_A,rs5746664_A,...,rs715586_C,rs8137951_G,rs2301584_G,rs756638_G,rs3810648_A,rs2285395_G,rs13056621_A,rs3888396_T,rs2238837_A,rs28729663_G
0,2,2,1,2,2,2,2,0,2,2,...,1,2,2,2,2,2,1,2,2,2
1,2,1,1,2,1,2,2,1,1,1,...,2,1,1,2,2,2,2,1,2,2
2,2,2,2,2,1,2,2,1,2,2,...,2,1,1,2,2,2,1,2,0,1
3,2,1,2,2,0,2,2,0,2,2,...,1,2,2,1,2,2,2,2,1,2
4,2,2,2,2,1,1,2,1,2,2,...,1,2,2,2,2,2,1,2,1,1

In [12]:
# Define reference and alternate alleles for each SNP (mock example, update as needed)
reference_alleles = ['A', 'C', 'G', 'T', 'A', 'C', 'G', 'T']  # Replace with actual reference alleles
alternate_alleles = ['G', 'T', 'A', 'C', 'G', 'T', 'A', 'C']  # Replace with actual alternate alleles

# Function to convert genotype to nucleotide sequence
def genotype_to_nucleotide(genotype, ref, alt):
    if genotype == 0:
        return ref  # Homozygous reference
    elif genotype == 1:
        return ref  # Heterozygous (choose ref, can be adjusted)
    elif genotype == 2:
        return alt  # Homozygous alternate
    else:
        return 'N'  # Missing or unknown genotype
# Convert each SNP genotype to a nucleotide sequence
sequence_list = []
for i, col in enumerate(genotype_df.columns):
    ref_allele = reference_alleles[i % len(reference_alleles)]  # Use actual SNP data
    alt_allele = alternate_alleles[i % len(alternate_alleles)]
    sequence_list.append(genotype_df[col].apply(lambda x: genotype_to_nucleotide(x, ref_allele, alt_allele)))

# Concatenate all SNPs into a DNA sequence
sequence = ''.join(sequence_list[i].astype(str).values[0] for i in range(len(sequence_list)))

In [14]:
# Save sequence in FASTA format
with open('./data_/genotype_sequences.fasta', 'w') as fasta_file:
    fasta_file.write(">sample_1\n")
    fasta_file.write(sequence + "\n")

print("FASTA file generated successfully!")

FASTA file generated successfully!