In [3]:
from pyfaidx import Fasta
from cyvcf2 import VCF # Load reference genome ref_genome = Fasta("reference.fa")

/var/folders/vp/qj6g4gtj5dg106bf9m3cb5xr0000gn/T/ipykernel_38990/4198109739.py:5: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv(raw_file, delim_whitespace=True)

In [4]:
!pip install pyfaidx cyvcf2

,rs131538_G,rs7287144_A,rs5747620_T,rs17430900_G,rs9605903_T,rs16980739_C,rs9605927_T,rs5747968_G,rs2236639_A,rs5746664_A,...,rs715586_C,rs8137951_G,rs2301584_G,rs756638_G,rs3810648_A,rs2285395_G,rs13056621_A,rs3888396_T,rs2238837_A,rs28729663_G
0,2,2,1,2,2,2,2,0,2,2,...,1,2,2,2,2,2,1,2,2,2
1,2,1,1,2,1,2,2,1,1,1,...,2,1,1,2,2,2,2,1,2,2
2,2,2,2,2,1,2,2,1,2,2,...,2,1,1,2,2,2,1,2,0,1
3,2,1,2,2,0,2,2,0,2,2,...,1,2,2,1,2,2,2,2,1,2
4,2,2,2,2,1,1,2,1,2,2,...,1,2,2,2,2,2,1,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
710,2,1,1,2,2,2,2,2,2,2,...,2,1,1,2,2,2,1,2,0,1
711,2,2,2,2,1,1,2,1,2,2,...,1,2,2,1,2,2,2,2,1,2
712,2,2,1,2,2,2,2,2,2,2,...,2,1,1,2,2,2,2,2,2,2
713,1,2,2,2,0,2,2,0,2,2,...,2,1,2,2,2,2,2,2,1,1
714,2,0,0,2,1,2,2,1,2,2,...,0,2,2,2,2,2,2,2,1,2

In [ ]:
# Load reference genome (hg38)
ref_genome = Fasta("38.fa")

# Load VCF file (genotyped variants)
vcf_reader = VCF("./data_/genotype_sequences2.vcf")

In [ ]:
# Function to reconstruct sequence with genotype data
def reconstruct_sequence(chrom, start, end):
    """Generate a DNA sequence from the reference genome and incorporate VCF genotypes."""
    # Extract reference sequence from hg38
    seq = list(ref_genome[chrom][start:end].seq)  # Convert to list for mutability

    for record in vcf_reader:
        pos = record.POS - start  # Adjust position to local index
        if start <= record.POS < end:  # Ensure variant is within the requested range
            genotype = record.genotypes[0][:2]  # Get first sample's genotype

            # If heterozygous (0/1), replace with ALT allele
            if genotype == [0, 1]:
                seq[pos] = record.ALT[0]

            # If homozygous alternate (1/1), fully replace with ALT allele
            elif genotype == [1, 1]:
                seq[pos] = record.ALT[0]

            # If homozygous reference (0/0), keep reference base

    return "".join(seq)

In [ ]:
# Get the first variant's position
variant_positions = [record.POS for record in vcf_reader]
start = variant_positions[0]
end = start + 1000  # Extract 1kb around it

print(f"Selected region: chr22:{start}-{end}")

In [ ]:
# Define chromosome, start, and end position (adjust as needed)
chrom = "22"
start, end = 16390411, 50780578  # Example range

# Get modified DNA sequence
dna_sequence = reconstruct_sequence(chrom, start, end)

# Output the reconstructed sequence

In [ ]:
# Save sequence in FASTA format
with open('./data_/chr22_dnaseq.fasta', 'w') as fasta_file:
    fasta_file.write(f">chr22:{start}-{end}\n")
    fasta_file.write(dna_sequence + "\n")

print("FASTA file generated successfully!")